# Python cache
**/__pycache__/
vector_db/__pycache__/
*.pyc
*.pyo

# Vector DB storage
**/chroma_storage/
**/qdrant_storage/

# Embeddings
**/embeddings/

**/chunks.duckdb

# Numpy files
*.npy

# Misc
*.log

**/queries_marco**/
**/wiki_en_*/
**/wit_*/
